<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="row mr-2 ml-auto">
        <ul class="row m-0 align-items-center">
          <li>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="user mt-2 d-flex align-items-center"
            >
              <img src="https://img.icons8.com/small/2x/gender-neutral-user.png" alt="" class="user-image mr-1 p-2" />
  
              Hesabım
              <mat-icon class="user-image-icon ml-1"
                >keyboard_arrow_down</mat-icon
              >
            </button>


            
            <mat-menu #menu="matMenu">
              <a mat-list-item routerLinkActive="list-item-active" routerLink="/signin">
              <button mat-menu-item>
                <mat-icon aria-hidden="false">login</mat-icon>
                Kayıt Ol
              </button>
            </a>

            <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
              <button mat-menu-item>
                <mat-icon aria-hidden="false">login</mat-icon>
                Giriş Yap
              </button>
            </a>
            </mat-menu>
            
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  