<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Kayıt Ol</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">





    


        <div class="container rounded shadow-sm"> 
          <form action=""> 
            
            <div class="row"> 
              <div class="col-md-6 col-12 mb-4"> 
                <div class="form-control d-flex flex-column"> 
                  <p class="h-blue">Adınız</p> 
                  <input class="inputbox" placeholder="Lütfen adınızı yazınız" type="text"> 
                </div> 
              </div> 
    
              <div class="col-md-6 col-12 mb-4"> 
                <div class="form-control d-flex flex-column"> 
                  <p class="h-blue">Soyadınız</p> 
                  <input class="inputbox" placeholder="Lütfen soyadınızı yazınız" type="text"> 
                </div> 
              </div> 
              <div class="col-md-6 col-12 mb-4"> 
                <div class="form-control d-flex flex-column"> 
                  <p class="h-blue">E-posta</p> 
                  <input class="inputbox" placeholder="Lütfen e-posta adresinizi yazınız" type="text"> 
                </div> 
              </div> 
    
              <div class="col-md-6 col-12 mb-4"> 
                <div class="form-control d-flex flex-column"> 
                  <p class="h-blue">Cep Telefon Numaranız</p> 
                  <input class="inputbox" placeholder="(555) 555 5555" type="number"> 
                </div> 
              </div> 
            </div>

            <div class="row">
          <div class="col-md-6 col-12 mb-4"> 
            <div class="form-control d-flex flex-column"> 
              <p class="h-blue">Doğum Tarihiniz </p> 
              <input class="inputbox textmuted" type="date"> 
            </div> 
          </div> 
        
    
    
          <div class="col-md-6 col-12 mb-4"> 
            <div class="form-control d-flex flex-column"> 
              <p class="h-blue">Cinsiyetiniz</p> 
              <select class="border-0 outline-none"> 
                <option value="" hidden selected>-</option> 
                <option value="1">Kadın</option> 
                <option value="2">Erkek</option> 
                <option value="3">Diğer</option> 
              </select> 
            </div> 
          </div> 

          <div class="col-md-6 col-12 mb-4"> 
            <div class="form-control d-flex flex-column"> 
              <p class="h-blue">Şifreniz</p> 
              <input class="inputbox" placeholder="Lütfen şifrenizi yazınız" type="text"> 
            </div> 
          </div> 

          <div class="col-md-6 col-12 mb-4"> 
            <div class="form-control d-flex flex-column"> 
              <p class="h-blue">Tekrar Şifre</p> 
              <input class="inputbox" placeholder="Lütfen şifrenizi yazınız" type="text"> 
            </div> 
          </div> 

        </div> 
       
      
        <div class="btn btn-primary form-control text-center">Kayıt Ol</div> 
      </form> 
    </div>









      </div>
    </div>
  </div>