
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Masaj Rezervasyon</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">


      <div class="container rounded shadow-sm"> 
        <form action=""> 
          
      <div class="row"> 
        <div class="col-md-6 col-12 mb-4"> 
          <div class="form-control d-flex flex-column"> 
            <p class="h-blue">Adınız</p> 
            <input class="inputbox" placeholder="Lütfen adınızı yazınız" type="text"> 
          </div> 
        </div> 

        <div class="col-md-6 col-12 mb-4"> 
          <div class="form-control d-flex flex-column"> 
            <p class="h-blue">Soyadınız</p> 
            <input class="inputbox" placeholder="Lütfen soyadınızı yazınız" type="text"> 
          </div> 
        </div> 
        <div class="col-md-6 col-12 mb-4"> 
          <div class="form-control d-flex flex-column"> 
            <p class="h-blue">E-posta Adresiniz</p> 
            <input class="inputbox" placeholder="Lütfen e-posta adresinizi yazınız" type="text"> 
          </div> 
        </div> 

        <div class="col-md-6 col-12 mb-4"> 
          <div class="form-control d-flex flex-column"> 
            <p class="h-blue">Cep Telefon Numaranız</p> 
            <input class="inputbox" placeholder="(555) 555 5555" type="number"> 
          </div> 
        </div> 
      

      <div class="col-md-12 col-12 mb-4"> 
        <div class="form-control d-flex flex-column"> 
          <p class="h-blue">Adresiniz</p> 
          <input class="inputbox" placeholder="Lütfen adresinizi giriniz" type="number"> 
        </div> 
      </div> 
    </div> 


      
      <div class="row"> 
        <div class="col-md-6 col-12 mb-4"> 
          <div class="form-control d-flex flex-column"> 
            <p class="h-blue">Giriş Tarihiniz</p> 
            <input class="inputbox textmuted" type="date"> 
          </div> 
        </div>
        
        <div class="col-md-6 mb-4"> 
          <div class="form-control d-flex flex-column"> 
            <p class="h-blue">Randevu Saati</p> 
            <select class="border-0 outline-none"> 
              <option value="" hidden selected>-</option> 
              <option value="1">08.30</option> 
              <option value="2">10.30</option> 
              <option value="3">12.30</option>
              <option value="4">14.30</option>
              <option value="5">16.30</option> 
              <option value="6">18.30</option> 
            </select> 
          </div> 
        </div> 

      </div> 


      <div class="row"> 
        <div class="col-md-6 mb-4"> 
          <div class="form-control d-flex flex-column"> 
            <p class="h-blue">Yetişkin Sayısı</p> 
            <select class="border-0 outline-none"> 
              <option value="" hidden selected>0</option> 
              <option value="1">1</option> 
              <option value="2">2</option> 
              <option value="3">3</option> 
            </select> 
          </div> 
        </div> 
        <div class="col-md-6 mb-4"> 
          <div class="form-control d-flex flex-column"> 
            <p class="h-blue">Çocuk Sayısı</p> 
            <select class="border-0 outline-none"> 
              <option value="" hidden selected>0</option> 
              <option value="1">1</option> 
              <option value="2">2</option> 
              <option value="3">3</option> 
            </select> 
          </div> 
        </div> 
      </div> 
      <div class="btn btn-primary form-control text-center">Rezervasyonumu Yap!</div> 
    </form> 
  </div>


