<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Etkinlikler</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
       
        



        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://thumbs.dreamstime.com/b/people-swimming-swimming-pool-sunbathing-doing-other-activities-hotel-summer-antalya-turkey-september-people-250014278.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/dive-center-aquatic-activities-beach-grand-sirenis-hotel-spa-riviera-maya-mexico-grand-sirenis-hotel-spa-riviera-maya-111429131.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/boats-sea-front-caf%C3%A9-del-mar-spanish-island-ibiza-mediterranean-europe-famous-spot-best-place-sunset-132004965.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/child-playing-tennis-indoor-court-little-girl-racket-ball-sport-club-active-exercise-kids-summer-activities-138991711.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/yoga-meditating-beach-221157.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/child-dad-scuba-diving-18234134.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/beach-volleyball-group-friends-playing-69946981.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/parasailing-24189107.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

Etkinlikler



      </div>
    </div>
  </div>