<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Giriş Yap</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">





    


        <div class="container rounded shadow-sm"> 
          <form action=""> 
            
           
              <div class="col-md-12 col-12 mb-12"> 
                <div class="form-control d-flex flex-column"> 
                  <p class="h-blue">E-postanız</p> 
                  <input class="inputbox" placeholder="Lütfen e-posta adresinizi yazınız" type="text"> 
                </div> 
              </div> 
    
           
              <div class="col-md-12 col-12 mb-12"> 
                <div class="form-control d-flex flex-column"> 
                  <p class="h-blue">Şifreniz</p> 
                  <input class="inputbox" placeholder="Lütfen şifrenizi yazınız" type="text"> 
                </div> 
              </div> 
    



              




             
                
               
            
              <body>
                <p>Beni Hatırla</p>
                <input type="checkbox" name="checkBox1" checked>
              </body>




 
       
      
        <div class="btn btn-primary form-control text-center">Kayıt Ol</div> 
      </form> 
    </div>









      </div>
    </div>
  </div>