<mat-nav-list>
    <div class="logo py-4">
      <img src="https://s3.amazonaws.com/logosnap/logos/2022/Jul/medium-6710-62d66155c237c.png?AWSAccessKeyId=AKIAJYDQOXJXA55YC7SQ&Expires=1658260180&Signature=Z1jDW7oULT0JKAy7MhJbr7n95hk%3D" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Ana Sayfa
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Rezervasyon
    </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Konaklama </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Yiyecek ve İçecek </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Spa </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> İletişim </a>
  </mat-nav-list>