<mat-nav-list>
    <div class="logo py-4">
      <img src="https://www.freepnglogos.com/uploads/hotel-logo-png/new-mika-hotels-logo-4.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Ana Sayfa
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Kullanıcı Rezervasyon
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/spareservation">
      <mat-icon>dashboard</mat-icon> Spa Rezervasyon
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/massagereservation">
      <mat-icon>dashboard</mat-icon> Masaj Rezervasyon
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/aboutus">
      <mat-icon>edit</mat-icon> Hakkımızda
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/rooms">
      <mat-icon>edit</mat-icon> Odalarımız
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/etkinlikler">
      <mat-icon>edit</mat-icon> Etkinlikler
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/iletisim">
      <mat-icon>edit</mat-icon> İletişim
    </a>
   
  </mat-nav-list>