<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Hotel Kedi</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        
        
        
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://thumbs.dreamstime.com/b/cyclades-greek-architecture-house-aegean-view-5583388.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/cozy-greek-restaurant-shade-wooden-chairs-white-overlay-greece-58682907.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/huts-beach-luxury-hotel-18482553.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/greek-house-against-blue-sky-8212649.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/breathtaking-scenery-oia-village-traditional-greek-island-architecture-aegean-sea-background-santorini-island-greece-95712034.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/oia-santorini-greece-september-luxury-hotels-infinity-pool-greek-island-europe-186396803.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/sea-view-bar-2750600.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/recreation-sail-yacht-15863946.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/landscape-beach-crete-19623264.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/hotel-resort-cyprus-deckchairs-swimming-pool-venus-beach-resorts-kyrenia-south-night-photography-76632454.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/hotel-resort-cyprus-deckchairs-swimming-pool-venus-beach-resorts-kyrenia-south-76587987.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://thumbs.dreamstime.com/b/hotel-resort-cyprus-deckchairs-swimming-pool-venus-beach-resorts-kyrenia-south-76587947.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        
        
        
        Otel fotoğrafları
        
        
        
        
        
      </div>
    </div>
  </div>